<div class="panel panel-primary">
    <div class="panel-body">
        <table class="table" id="listoftransaction" >
           <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Types</th>
                <th>Amount</th>
                <th>Balance</th>

            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let transaction of transactions">
                <td>{{transaction.date}}</td>
                <!-- <td>{{transaction.todayNumber | date}}</td> -->
                <!-- <td>{{transaction.date}}</td> -->
                <td>{{transaction.description}}</td>
                <td>{{transaction.types}}</td>
                <td>{{transaction.amount}}</td>
                <td>{{transaction.balance}}</td>
              

            </tr>
            </tbody>



        </table>

    </div>
</div>